* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header div.info {
  padding: 10rem;
  background-image: url(/images/header.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header div.info h1,
header div.info h3 {
  color: #5b5b5b;
  align-self: center;
}
header div.info h1 {
  font-size: 2.5rem;
}
header div.info h3 {
  font-size: 1.2rem;
}
header nav {
  background-color: #f0f0f0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 10px 6px -6px #777;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  padding: 0.5rem 1rem;
}
header nav ul li a {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  color: #5b5b5b;
  transition: all 0.3s ease-in;
}
header nav ul li a:hover {
  color: #670a0a;
}

main section.selfIntro {
  min-height: 70vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main section.selfIntro div.info {
  flex-basis: 450px;
  padding: 4rem;
}
main section.selfIntro div.info h1.title {
  letter-spacing: 0.01rem;
}
main section.selfIntro div.info h1.title span {
  cursor: pointer;
  display: inline-block;
  transition: 0.3s ease;
}
main section.selfIntro div.info h1.title span:hover {
  transform: translateY(-20px) rotate(15deg) scale(1.2);
  color: #222222;
}
main section.selfIntro div.info h1 {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #5b5b5b;
}
main section.selfIntro div.info p {
  margin-top: 1rem;
  font-size: 1rem;
}
main section.selfIntro div.info h3 {
  color: white;
  background-color: #d5d5d5;
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 20px;
  margin-top: 1rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
main section.selfIntro div.img {
  flex-basis: 450px;
  text-align: center;
}
main section.selfIntro div.img img {
  width: 60%;
}
main section.selfDoing {
  background-color: #f0f0f0;
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
}
main section.selfDoing section.selfDoingText {
  width: 70%;
}
main section.selfDoing section.selfDoingText h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #5b5b5b;
}
main section.selfDoing section.selfDoingText hr {
  border-top: 0.5px dashed #5b5b5b;
}
main section.selfDoing section.selfDoingText div.a {
  padding: 0.5rem;
}
main section.selfDoing section.selfDoingText a {
  color: white;
  background-color: #d5d5d5;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease;
}
main section.selfDoing section.selfDoingText a:hover {
  transform: scale(1.2);
  color: #670a0a;
}
main section.selfDoing,
main section.rangeLearningTime,
main section.emotionalMoment,
main section.selfPrinciple {
  background-color: #f0f0f0;
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
}
main section.selfDoing section,
main section.rangeLearningTime section,
main section.emotionalMoment section,
main section.selfPrinciple section {
  width: 70%;
}
main section.selfDoing section h1,
main section.rangeLearningTime section h1,
main section.emotionalMoment section h1,
main section.selfPrinciple section h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #5b5b5b;
  margin-bottom: 0.3rem;
}
main section.selfDoing section hr,
main section.rangeLearningTime section hr,
main section.emotionalMoment section hr,
main section.selfPrinciple section hr {
  border-top: 0.5px dashed #5b5b5b;
}
main section.selfDoing section h3,
main section.rangeLearningTime section h3,
main section.emotionalMoment section h3,
main section.selfPrinciple section h3 {
  text-align: center;
  margin: 0.5rem;
}
main section.selfDoing section h4,
main section.rangeLearningTime section h4,
main section.emotionalMoment section h4,
main section.selfPrinciple section h4 {
  margin: 0.5rem;
}
main section.selfDoing section p,
main section.rangeLearningTime section p,
main section.emotionalMoment section p,
main section.selfPrinciple section p {
  margin: 0.5rem;
}
main section.selfDoing section div ul,
main section.rangeLearningTime section div ul,
main section.emotionalMoment section div ul,
main section.selfPrinciple section div ul {
  list-style-type: disc;
}
main section.longingForCompany,
main section.developpingExperience,
main section.anythingElse {
  background-color: #ffffff;
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
}
main section.longingForCompany section,
main section.developpingExperience section,
main section.anythingElse section {
  width: 70%;
}
main section.longingForCompany section h1,
main section.developpingExperience section h1,
main section.anythingElse section h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #5b5b5b;
  margin-bottom: 0.3rem;
}
main section.longingForCompany section hr,
main section.developpingExperience section hr,
main section.anythingElse section hr {
  border-top: 0.5px dashed #5b5b5b;
}
main section.longingForCompany section h3,
main section.developpingExperience section h3,
main section.anythingElse section h3 {
  text-align: center;
  margin: 0.5rem;
}
main section.longingForCompany section h4,
main section.developpingExperience section h4,
main section.anythingElse section h4 {
  margin: 0.5rem;
}
main section.longingForCompany section p,
main section.developpingExperience section p,
main section.anythingElse section p {
  margin: 0.5rem;
}
main section.selfDoingLink {
  background-color: #ffffff;
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
}
main section.selfDoingLink section {
  width: 70%;
}
main section.selfDoingLink section h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #5b5b5b;
  margin-bottom: 0.3rem;
}
main section.selfDoingLink section hr {
  border-top: 0.5px dashed #5b5b5b;
}
main section.selfDoingLink section div.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main section.selfDoingLink section div.circles div.circle {
  padding: 1rem;
  flex: 0 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.selfDoingLink section div.circles div.circle img {
  width: 80%;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  padding: 0.3rem;
}
main section.selfDoingLink section div.circles div.circle img:hover {
  border: 3px solid #f0f0f0;
}
main section.selfDoingLink section div.circles div.circle p.date {
  letter-spacing: 0.06rem;
  font-size: 0.8rem;
}
main section.selfDoingLink section div.circles div.circle div.circle-title {
  position: relative;
  align-items: center;
}
main section.selfDoingLink section div.circles div.circle div.circle-title img {
  width: 100%;
  align-items: center;
}
main section.selfDoingLink section div.circles div.circle div.circle-title div.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
main section.selfDoingLink section div.circles div.circle div.circle-title div.overlay a {
  text-decoration: none;
  color: #5b5b5b;
  font-weight: bold;
  transition: transform 0.3s ease;
  display: block;
}
main section.selfDoingLink section div.circles div.circle div.circle-title div.overlay a:visited {
  color: #222222;
}
main section.selfDoingLink section div.circles div.circle div.circle-title div.overlay a:hover {
  transform: scale(1.3);
  color: #670a0a;
}
main section.rangeLearningTime div.week-content,
main section.rangeLearningTime div.day-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.rangeLearningTime div.week-content ul,
main section.rangeLearningTime div.day-content ul {
  list-style-type: disc;
  margin: 0.2rem;
}
main section.rangeLearningTime div.week-content ul li div.rangeDate,
main section.rangeLearningTime div.day-content ul li div.rangeDate {
  letter-spacing: 0.06rem;
  font-weight: bold;
}
main section.rangeLearningTime div.week-content ul li div.rangeContent,
main section.rangeLearningTime div.day-content ul li div.rangeContent {
  font-size: 0.95rem;
}
main section.emotionalMoment section div ol {
  list-style-type: decimal;
  margin: 1rem;
}
main section.longingForCompany section div ul,
main section.developpingExperience section div ul {
  list-style-type: disc;
  padding: 1rem;
}
main section.anythingElse p {
  margin: 2rem;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */